<!DOCTYPE html>

<!-- views/event.ejs -->
<!-- Copyright (c) 2015 Brandon M. Kelley -->

<html>

<head>
  <title><%= title %> | Sigma Phi Delta Engineering</title>
  <% include base/styles %>
</head>

<body id="about_us">
  
  <% include base/navbar %>

  <% include base/scripts %>

</body>

</html>
